<div class="flex flex-col gap-2 ml-[40%] mb-5">
  <!-- Display the newest short URL outside the collapsed section -->
  <% if (shortUrls.length > 0) { %>
  <div class="card card-side bg-base-100 shadow-xl">
    <button onclick="viewQR('<%= shortUrls[0].short %>')">
      <figure class=""><img src="http://api.qrserver.com/v1/create-qr-code/?data=<%= shortUrls[0].short %>&size=250x250" alt="QR Code" class="ml-20 mr-10" /></figure>
    </button>
    <div class="card-body w-[1000px] h-[350px]">
      <div class="flex flex-col items-start">
        <h2 class="card-title font-bold text-3xl"><%= shortUrls[0].description %></h2>
        <p class="text-xl">Full Url: <%= shortUrls[0].full %></p>
        <p class="text-xl">Short Url: <a href="/<%= shortUrls[0].short %>" class="text-blue-500"><%= shortUrls[0].short %></a></p>
        <p class="text-xl">Visited: <%= shortUrls[0].clicks %></p>
        <p class="text-xl">Time: <%= shortUrls[0].dateAdded %></p>
      </div>

      <div class="card-actions justify-end mt-20">
        <!-- Add unique identifier to the button's id -->
        <button id="updateButton" class="btn btn-primary rounded-badge w-32" onclick="updateShortId('<%= shortUrls[0]._id %>')">Update</button>
        <form action="/<%= username%>/delete/<%= shortUrls[0]._id %>" method="POST" class="inline">
          <button class="btn bg-red-900 rounded-badge w-32">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <% } %>

  <!-- Display the collapsed section -->
  <div class="collapse collapse-arrow border border-base-300 bg-base-200 grow">
    <input type="checkbox" id="collapseSection" />
    <div class="collapse-title text-xl font-medium">See More History!</div>
    <div class="collapse-content max-h-[280px] overflow-y-auto">
      <!-- Iterate over the rest of the short URLs -->
      <% for (let i = 1; i < shortUrls.length; i++) { %>
      <div class="card card-side bg-base-100 shadow-xl">
        <button onclick="viewQR('<%= shortUrls[i].short %>')">
          <figure><img src="http://api.qrserver.com/v1/create-qr-code/?data=http://localhost:5000/<%= shortUrls[i].short %>&size=180x180" alt="QR Code" class="mx-10" /></figure>
        </button>
        <div class="card-body">
          <div class="flex flex-col items-start">
            <h2 class="card-title"><%= shortUrls[i].description%></h2>
            <p>Full Url: <%= shortUrls[i].full %></p>
            <p>Short Url: <a href="/<%= shortUrls[i].short %>" class="text-blue-500"><%= shortUrls[i].short %></a></p>
            <p>Visited: <%= shortUrls[i].clicks %></p>
            <p>Time: <%= shortUrls[i].dateAdded %></p>
          </div>
          <div class="card-actions justify-end">
            <!-- Add unique identifier to the button's id -->
            <button id="updateButton" class="btn btn-primary rounded-badge w-32" onclick="updateShortId('<%= shortUrls[i]._id %>')">Update</button>
            <form action="/<%= username %>/delete/<%= shortUrls[i]._id %>" method="POST" class="inline">
              <button class="btn bg-red-900 rounded-badge w-32">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<!-- Start MODAL BOX FOR QR CODE -->
<!-- Open the modal using ID.showModal() method -->
<dialog id="my_modal_2" class="modal">
  <div class="modal-box flex flex-col justify-center items-center gap-2">
    <h3 class="font-bold text-3xl">Scan Me!</h3>
    <img id="qrCodeImage" src="" alt="QR CODE" />
    <h4 class="font-semibold text-xl"><a href="" id="caption" class="hover:underline hover:text-blue-700"></a></h4>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
<!-- END OF MODAL BOX FOR QR CODE -->

<!-- Start MODAL BOX FOR UPDATE -->
<dialog id="my_modal_3" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg">Update Short Url</h3>
    <!-- Add input fields for updating data -->
    <form id="updateForm" action="/<%= username %>/update/" method="POST">
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <input
          type="text"
          name="description"
          id="description"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          placeholder="Enter description (optional)"
        />
      </div>
      <div class="mb-4">
        <label for="fullUrl" class="block text-sm font-medium text-gray-700">Full URL</label>
        <input
          type="text"
          name="fullUrl"
          id="fullUrl"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          placeholder="Enter full URL"
          required
        />
      </div>
      <div class="mb-4">
        <label for="shortUrl" class="block text-sm font-medium text-gray-700">Short URL</label>
        <input
          type="text"
          name="shortUrl"
          id="shortUrl"
          class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          placeholder="Enter short URL"
          required
        />
      </div>
      <div class="mb-4">
        <label for="clicks" class="block text-sm font-medium text-gray-700">Clicks</label>
        <input type="number" name="clicks" id="clicks" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Enter clicks" required />
      </div>
      <!-- Submit button for updating data -->
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
    </form>
  </div>
</dialog>
<!-- End MODAL BOX -->

<!-- Add script for event listeners -->
<script>
  // Function to open modal and generate QR code
  function viewQR(shortUrl) {
    // Open the modal
    var modal = document.getElementById("my_modal_2");

    // Generate QR code image source based on short URL
    var qrUrl = "http://api.qrserver.com/v1/create-qr-code/?data=http://localhost:5000/" + shortUrl + "&size=300x300";
    document.getElementById("qrCodeImage").src = qrUrl;
    const caption = document.getElementById("caption");
    caption.textContent = "http://localhost:5000/" + shortUrl;
    caption.href = "http://localhost:5000/" + shortUrl;
    modal.showModal();
  }

  function updateShortId(id) {
    document.getElementById("updateForm").action = `/<%= username %>/update/` + id; // Update form action
    my_modal_3.showModal(); // Show the modal
  }

  // Function to check if the modal is open
  function isModalOpen() {
    return document.getElementById("my_modal_3").open || document.getElementById("my_modal_2").open;
  }

  function isCollapsedActive() {
    // Check if the sorting dropdown is open or if a sorting action is in progress
    return $("#collapseSection").hasClass("open") || $("#collapseSection").is(":focus");
  }

  // Refresh the page every 5 seconds if the modal is not open and no sorting or search action is active
  //  setInterval(function () {
  //  if (!isModalOpen() && !isCollapsedActive()) {
  //  window.location.reload();
  // }
  // }, 8000); // Refresh every 5 seconds (5000 milliseconds)
</script>
